name: Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - '2.7.6'
          - '3.0.7'
          - '3.1.7'
        include:
          - ruby: '2.7.6'
            gemfile: gemfiles/ruby_2.7.gemfile
          - ruby: '3.0.7'
            gemfile: gemfiles/ruby_3.0.gemfile
          - ruby: '3.1.7'
            gemfile: gemfiles/ruby_3.1.gemfile

    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}

    steps:
    - uses: actions/checkout@v4

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true

    - name: Install dependencies
      run: bundle install

    - name: Run RSpec
      run: bundle exec rspec

    - name: Run RuboCop
      run: bundle exec rubocop
